.head {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head img {
  width: 75px;
  height: 84px;
  object-fit: contain;
}

.head p {
  font-size: 44px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat Alternates;
  text-transform: uppercase;
}


@media (max-width: 1299px) {
  .head {
    margin: 0;
    padding: 20px 16px 0 16px;
    gap: 10px;
  }

  .head img {
    width: 40px;
    height: 45px;
  }

  .head p {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }
}