.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all ease-in-out 0.3s;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper_item {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 50px;
  transition: all ease-in-out 0.3s;
}

.main_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.main_text :first-child {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.main_text :last-child {
  font-size: 12px;
  line-height: 14px;
}

.burger_icon {
  display: none;
}

.menu_search {
  display: none;
}

.scrolled {
  background-color: #fff;
}

.scrolled_main_text {
  color: #000;
}

@media (max-width: 1299px) {
  .header {
    background-color: transparent;
    margin-bottom: 70px;
    padding: 10px 16px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all ease-in-out 0.3s;
  }

  .scrolled {
    background-color: #fff;
  }

  .scrolled_main_text {
    color: #000;
  }

  .wrapper_item {
    padding: 0;
  }

  .header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main_text p:first-child {
    font-size: 12px;
  }

  .main_text p:last-child {
    font-size: 10px;
  }

  .burger {
    display: flex;
  }

  .burger_icon {
    display: block;
    cursor: pointer;
  }

  .menu_search {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}