.box {
  width: 100%;
  aspect-ratio: 4 / 5;
  overflow: hidden;
  background: #E9F7FC;
  flex-shrink: 0;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}
