.visit_wrapper {
  padding: 15px 30px 20px 30px;
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(215, 218, 241, 0.4);
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

.visit_wrapper:hover {
  transform: scale(1.05);
  background-color: rgba(215, 218, 241, 0.6);
}

.text_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text_wrapper p {
  font-size: 16px;
  font-weight: 500;
}

.text_wrapper :first-child {
  flex-basis: 80%;
}

.text_wrapper :last-child {
  flex-basis: 20%;
}

.text_wrapper img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.image_wrapper {
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 20px;
}

.image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1299px) {
  .visit_wrapper {
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  .visit_wrapper:hover {
    transform: none;
    background-color: rgba(215, 218, 241, 0.4);
  }
  
  .text_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .text_wrapper p {
    font-size: 14px;
  }
  
  .text_wrapper :first-child {
    flex-basis: 80%;
  }
  
  .text_wrapper :last-child {
    flex-basis: 20%;
  }
  
  .text_wrapper img {
    width: 40px;
    height: 40px;
  }
  
  .image_wrapper {
    width: 100%;
    height: 190px;
  }
  
}