.visit_title {
  font-size: 44px;
  line-height: 66px;
  font-weight: 600;
  font-family: Montserrat Alternates;
  text-transform: uppercase;
}

.sliderBox {
  width: 1300px;
}

.visit_slide__wrapper {
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1299px) {
  .visit_title {
    padding-inline: 16px;
    font-size: 20px;
    line-height: 30px;
  }

  .sliderBox {
    padding-inline: 16px;
    width: 100%;
  }

  .visit_slide__wrapper {
    height: 270px;
  }
}

