.contact_item {
  width: 350px;
  height: 96px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
}

.contact_item__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_item__text :first-child {
  font-size: 20px;
  line-height: 23px;
}

.contact_item__text :last-child {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #BABABA;
}

@media (max-width: 1299px) {
  .contact_item {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
  }


  .contact_item__text :first-child {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }


}