.last_section {
  margin-bottom: 150px;
  position: relative;
}

.events_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events_header__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.events_header__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.events_header__text :first-child {
  font-size: 44px;
  line-height: 54px;
  font-weight: 600;
  text-transform: uppercase;
}

.form {
  padding: 20px 0 0 110px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 20px;
}

.form input[type="checkBox"] {
  padding: 0 !important;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.form input[type="checkBox"]:checked {
  background-color: var(--primaryColor);
  border: none;
}

.form input[type="checkBox"]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
  transform-origin: center center;
}

.form textarea {
  margin-top: 50px;
  padding: 20px 30px;
  height: 250px;
  font-size: 20px;
  border: 1px solid var(--borderColor);
  outline: none;
}

.form button {
  position: absolute;
  bottom: -80px;
  right: 0;
  height: 50px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--primaryColor);
  background-color: #EFF0F9;
  border: none;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.form button:hover {
  color: #EFF0F9;
  background-color: var(--primaryColor);
}