.main_slide_card {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.main_slide_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1299px) {
  .main_slide_card {
    width: 180px;
    height: 180px;
  }
}