.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head img {
  width: 75px;
  height: 84px;
  object-fit: contain;
}

.head p {
  font-size: 44px;
  line-height: 50px;
  font-weight: 600;
  font-family: Montserrat Alternates;
}

.contacts_section {
  padding: 30px 50px;
  display: flex;
  border: 1px solid #9b9a9a;
  gap: 50px;
  /* background: linear-gradient(to left, transparent, #ffffff), url(/images/back_img.png); */
  background: linear-gradient(to left, transparent 30%, #ffffff 100%), url(/images/back_img.png);
  background-repeat: no-repeat;
  background-size: 900px 1200px;
  background-position: right -120px top -320px;
}


.work_schedule__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.work_schedule {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
}

.date {
  font-size: 20px;
  line-height: 24px;
}

.time {
  font-size: 36px;
  line-height: 42px;
}

.weekend {
  font-size: 24px;
  line-height: 28px;
}



@media (max-width: 1299px) {

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .head img {
    width: 40px;
    height: 45px;
    object-fit: contain;
  }
  
  .head p {
    font-size: 21px;
    line-height: 23px;
  }

  .contacts_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 16px 180px 16px;
    border: none;
    gap: 50px;
    /* background: linear-gradient(to left, transparent, #ffffff), url(/images/back_img.png); */
    background: linear-gradient(to top, transparent 50%, #ffffff 75%), url(/images/back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0 top 350px;
  }

  .work_schedule__wrapper {
    width: 100%;
    align-items: center;
  }

  .name {
    width: 90%;
    font-size: 22px;
    line-height: 25px;
  }
  
  .work_schedule {
    padding: 40px 70px;
    width: 90%;
  }
  
  .date {
    font-size: 16px;
    line-height: 19px;
  }
  
  .time {
    font-size: 30px;
    line-height: 32px;
  }
  
  .weekend {
    font-size: 22px;
    line-height: 28px;
  }
}