.not_found {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: var(--primaryColor);
}

@media (max-width: 1299px) {
  .not_found {
    height: 81vh;
    padding: 0 16px;
    font-size: 20px;
  }
}